#one {
    /*padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px; */
    padding:10;
    /*border-style: solid;
    border-width: 3px;
    border-color: brown;*/
    border: 43px solid brown
    margin-bottom 20px;
    min-width:400px;
    width:200;
    height:300px;
}